@import './../../styles/variables';
@import './../../styles/fonts';
@import './../../styles/mixins';

.hr-4 {
  @include margin_up_down(4px, 4px)
}

.hr-14 {
  @include margin_up_down(14px, 14px)
}

#section_thirdteen {
  margin-bottom: 0px;

  .checkout__header {
    height: 55px;

    &__title {
      font-size: 2em;
      font-family: $times;
      font-weight: 400;
      margin: 0px;
    }
  }
}

#section_fourteen {
  margin-top: 5px;

  .checkout__address {
    height: 60px;
    margin-bottom: 5px;
    display: flex;

    &__title {
      color: $colorGrayDark;
      width: 30%;

      .text {
        padding-left: 15%;
      }
    }

    &__direction {
      width: 70%;
      text-align: right;

      .text {
        padding-right: 10%;
      }
    }
  }

  .checkout__delivery {
    height: 60px;
    margin-bottom: 5px;
    display: flex;

    &__title {
      color: $colorGrayDark;
      width: 30%;

      .text {
        margin-top: 12%;
        padding-left: 15%;
      }
    }

    &__time {
      width: 70%;
      text-align: right;

      .text {
        margin-top: 22px;
        padding-right: 10%;
      }
    }
  }
}

#section_fiveteen {
  background-color: $colorWhite;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 60px;
  border-radius: 50px;
  color: $colorPink;
  -webkit-box-shadow: 0px 0px 30px -17px $colorBlack;
  -moz-box-shadow: 0px 0px 30px -17px $colorBlack;
  box-shadow: 0px 0px 30px -17px $colorBlack;
  @include flex_parent_center_height();

  .payment {
    height: 100%;
    margin-bottom: 5px;
    display: flex;

    &__title {
      width: 33%;
      color: $colorGrayDark;
      text-align: center;
      @include flex_parent_center_height();
    }

    &__card {
      width: 34%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        height: 25%;
        padding-top: 11px;
      }

      &__number {
        padding-top: 5%;
      }
    }

    &__option {
      padding-top: 4px;
      width: 33%;
      @include flex_parent_center_height();

      &__change {
        width: 85%;
        border: none;
        outline: none;
        border-radius: 25px;
        background-color: $colorPink;
        color: $colorWhite;
      }
    }
  }
}

#section_sixteen {
  margin-top: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px -17px $colorBlack;
  -moz-box-shadow: 0px 0px 30px -17px $colorBlack;
  box-shadow: 0px 0px 30px -17px $colorBlack;

  .cart__header {
    padding: 10px 10px 10px 20px;

    &__subtitle {
      margin: 0px;
      color: $colorGrayDark;
    }

    &__title {
      margin: 0px;
    }
  }

  .cart__article {
    width: 100%;
    height: 70px;
    display: flex;

    &__item {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: row;

      &__image {
        height: 100%;
        padding-left: 15px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px;

        &__title {}

        &__subtitle {
          color: $colorGrayDark;
          font-size: 13px;
        }

        &__action {
          span {
            font-size: 13px;
            color: $colorPink;
            text-decoration: underline;
          }
        }
      }
    }

    &__price {
      width: 30%;
      height: 100%;
      padding-top: 5px;

      &__counter {
        display: flex;

        div {
          margin-left: 5px;
          margin-right: 6px;
          width: 35px;
          border: none;
          border-radius: 25px;
          text-align: center;
          background-color: $colorPink;
          color: $colorWhite;
        }

        button {
          padding: 0px;
        }
      }

      &__total {
        color: $colorBlue;
        margin-top: 3px;
        padding-left: 7px;
      }
    }
  }
}

#section_seventeen {
  margin-top: 30px;

  .confirm__payment {
    width: 100%;

    &__column {
      margin-bottom: 15px;
      display: flex;
      width: 100%;

      &__title {
        padding-left: 15px;
        color: $colorGrayDark;
        width: 30%;
      }

      &__value {
        padding-right: 15px;
        text-align: right;
        width: 70%;

        &.discount {
          color: $colorPink;
        }
      }
    }
  }
}

#section_eightteen {
  .button__confirm {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    border-width: 0;
    outline: none;
    border-radius: 12px;
    background-color: $colorPink;
    color: #ecf0f1;

    &__text {
      display: block;
      padding: 12px 24px;
    }
  }
}