@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#score {
  height: 100%;
  text-align: center;
  margin-right: 5px;

  .score-element {
    margin-right: 3px;
  }
}