@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#article-tall-rectangle {
  width: 28%;
  @include align_center_width();
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 13px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 13px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 13px -10px rgba(0, 0, 0, 0.75);

  .article-tall-rectangle__favorite {
    position: absolute;
    width: 5%;
    margin-top: -5px;
    margin-left: -5px;
  }

  .article-tall-rectangle__image {
    height: 35%;
    width: 60%;
    margin: 10px auto;
    margin-bottom: 3px;
  }

  .article-tall-rectangle__info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    &__delivery {
      margin: 0px;
      text-align: center;
      font-size: 12px;
      color: $colorGrayDark;

      &.free {
        color: $colorBlue;
      }
    }

    &__title {
      margin: 0px;
      font-size: 16px;
      color: $colorBlack;
      text-align: center;
      text-decoration: none;
    }

    &__price {
      margin: 2px 0;
      text-align: center;
      color: $colorBlue;
    }
  }
}