@import "./../../../styles/variables";
@import "./../../../styles/fonts";
@import "./../../../styles/mixins";

#article-tall-rectangle {
  // prevents that viewport observer render all elements
  min-height: 150px;
  // normal styles
  max-width: 190px;
  width: 28%;
  @include align_center_width();
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  border-radius: 10px;
  overflow: hidden;
  // -webkit-box-shadow: 0px 2px 13px -10px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px 2px 13px -10px rgba(0, 0, 0, 0.75);
  // box-shadow: 0px 2px 13px -10px rgba(0, 0, 0, 0.75);

  background: linear-gradient(-5deg, #f0f1f1, #efefef59);
  box-shadow: 6px 6px 16px #e2e2e2, -6px -6px 9px #ffffff;    
  border-radius: 10px;

  .article-tall-rectangle__favorite {
    position: absolute;
    width: 5%;
    margin-top: -5px;
    margin-left: -5px;
  }

  .article-tall-rectangle__image {
    width: 100%;
  }

  .article-tall-rectangle__info {
    // margin-top: 10px;
    display: flex;
    flex-direction: column;

    &__delivery {
      margin: 0px;
      text-align: center;
      font-size: 12px;
      color: $colorGrayDark;

      &.free {
        color: $colorBlue;
      }
    }

    &__title {
      margin: 0px;
      font-size: 16px;
      color: $colorBlack;
      text-align: center;
      text-decoration: none;
    }

    &__price {
      margin: 2px 0;
      text-align: center;
      color: $colorBlue;
    }
  }
}
