@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#section_one {
  height: 30px;
  display: flex;
  flex-direction: row;

  .header__greetings {
    width: 30%;
    height: 100%;
    max-width: 30%;

    &__text {
      color: $colorBlack;
      text-decoration: none;
      font-size: 0.9em;
      padding-top: 6%;
      margin: 0px;
    }
  }

  .header__user {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-width: 70%;
    width: 70%;

    &__image {
      border-radius: 40%;
      height: 100%;
    }
  }
}