@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#header {
  height: 30px;
  display: flex;

  .header__greetings {
    width: 30%;
    height: 100%;
    max-width: 30%;
  }

  .header__user {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}