@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  .header__greetings {
  }

  .header__user {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
  }
}