@import './../../styles/variables';
@import './../../styles/fonts';
@import './../../styles/mixins';

#section_nine {
  width: 100%;

  .article__image {
    width: 100%;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .article__header {
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;

    &__name {
      width: 55%;

      &__title {
        font-size: 2em;
        font-family: $times;
        font-weight: 400;
        margin: 0px;
      }

      &__subtitle {
        color: $colorGrayDark;
        margin: 0px;
        font-size: 0.7em;
      }
    }

    &__review {
      width: 45%;
      display: flex;
      flex-direction: row;

      &__stars {
        height: 62px;
        line-height: 62px;
        text-align: center;
        margin-right: 5px;
      }

      &__number {
        margin-left: 5px;
      }
    }
  }
}

#section_ten {
  margin-bottom: 15px;

  .article__action {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: $colorWhite;
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 30px -17px $colorBlack;
    -moz-box-shadow: 0px 0px 30px -17px $colorBlack;
    box-shadow: 0px 0px 30px -17px $colorBlack;

    &__feature {
      @include flex_parent_center_height();
      width: 30%;
      height: 100%;

      .title-mini {
        margin: 0 auto;
        width: 50%;
        height: 80%;
        border-radius: 25px;
        background-color: $colorPink;
        color: $colorWhite;
        @include flex_parent_center_height();
      }
    }

    &__delivery {
      @include flex_parent_center_height();
      color: $colorPink;
      width: 35%;
      height: 100%;
    }

    &__time {
      @include flex_parent_center_height();
      color: $colorPink;
      width: 35%;
      height: 100%;

      .button-mini {
        margin: 0 auto;
        width: 65%;
        height: 60%;
        border: 2px solid $colorPink;
        border-radius: 25px;
        color: $colorPink;
        @include flex_parent_center_height();
      }
    }
  }
}

#section_eleven {
  .comments__header {
    margin-bottom: 9px;

    &__title {
      margin: 0px;
      font-weight: 500;
    }
  }

  .comments__list {
    &__article {
      &__header {
        display: flex;

        &__image {
          width: 15%;
          border-radius: 40%;
          height: 50px;
        }

        &__name {
          width: 70%;
          padding-left: 20px;
          padding-top: 2%;

          &__title {}

          &__stars {
            &__star {
              width: 15px;
            }
          }
        }

        &__date {
          width: 25%;
          padding-top: 3%;
        }
      }

      &__description {
        p {
          margin-top: 6px;
        }
      }
    }
  }
}

#section_twelve {
  .article__action {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: $colorWhite;
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 30px -17px $colorBlack;
    -moz-box-shadow: 0px 0px 30px -17px $colorBlack;
    box-shadow: 0px 0px 30px -17px $colorBlack;

    &__price {
      color: $colorPink;
      @include flex_parent_center_height();
      width: 40%;
      height: 100%;
    }

    &__time {
      @include flex_parent_center_height();
      color: $colorPink;
      width: 35%;
      height: 100%;

      .button-mini {
        margin: 0 auto;
        width: 65%;
        height: 60%;
        border: 2px solid $colorPink;
        border-radius: 25px;
        color: $colorPink;
        @include flex_parent_center_height();
      }
    }

    &__button {
      margin: auto;
      width: 16%;
      height: 65%;
      border-radius: 25px;
      background-color: $colorPink;
      color: $colorWhite;
      @include flex_parent_center_height();

      img {
        height: 65%;
      }
    }
  }
}