@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#article_list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}