@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

.article-banner {
  padding: 5%;
  width: 90%;
  height: 80%;
  margin: 0px;

  &__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}