@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#title-panel {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .title-panel__box {
    &__title {
      font-size: 2em;
      font-weight: 400;
      margin: 0px;

      &.times {
        font-family: $times;
      }

      &.bold {
        font-weight: 700;
      }
    }

    &__subtitle {
      color: $colorGrayDark;
      margin: 0px;
      font-size: 0.7em;
    }
  }

  .title-panel__link {
    margin: 15px 6px;
    font-size: 11px;
    text-decoration: none;
    color: $colorLightBlue;
  }
}