@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#categories {
  height: 155px;

  .category__list {
    height: 75px;
    display: flex;
    flex-direction: row;
  }
}