@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#section_fourteen {
  margin-top: 5px;

  .checkout__address {
    height: 60px;
    margin-bottom: 5px;
    display: flex;

    &__title {
      color: $colorGrayDark;
      width: 30%;

      .text {
        padding-left: 15%;
      }
    }

    &__direction {
      width: 70%;
      text-align: right;

      .text {
        padding-right: 10%;
      }
    }
  }

  .hr-4 {
    @include margin_up_down(4px, 4px)
  }

  .checkout__delivery {
    height: 60px;
    margin-bottom: 5px;
    display: flex;

    &__title {
      color: $colorGrayDark;
      width: 30%;

      .text {
        margin-top: 12%;
        padding-left: 15%;
      }
    }

    &__time {
      width: 70%;
      text-align: right;

      .text {
        margin-top: 22px;
        padding-right: 10%;
      }
    }
  }
}