@import "./../../../styles/variables";
@import "./../../../styles/fonts";
@import "./../../../styles/mixins";

#comment-panel {
  width: 95%;
  margin: 0 auto;
  .comment-panel__list {
    margin-top: 10px;
  }
}
