@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#banner-slider {
  display: flex;
  flex-direction: column;

  .banner-slider__list {
    height: 80%;
  }
}