@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#banner-slider {
  display: flex;
  flex-direction: column;

  // .banners__header {
  //   height: auto;
  //   display: f lex;
  //   flex-direction: row;
  //   justify-content: space-between;

  //   &__title {
  //     margin: 0px;
  //   }

  //   &__explore {
  //     margin: 6px;
  //     font-size: 11px;
  //     text-decoration: none;
  //     color: $colorLightBlue;
  //   }
  // }

  .banner-slider__list {
    height: 80%;
  }
}