@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#hero-image {
  width: 100%;

  .image__container {
    width: 100%;
    margin-bottom: 20px;

    &__image {
      width: 100%;
    }
  }
}