@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#input-search {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}