@import './../../../styles/variables';
@import './../../../styles/fonts';
@import './../../../styles/mixins';

#article-title {
  width: 100%;

  .article-title {
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;

    &__review {
      width: 45%;
      padding-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}